.hero {
     
    padding-top: 50px;
    padding-bottom: 23px;
       background-image: url(../../img/hero_bg.png);
       background-position:center;
       background-repeat: no-repeat;;
       background-size:cover;
}
.hero__list {
    margin-top: 50px;
         display: flex;
        justify-content: space-between;
        align-items: center;
}
.hero__item {
    // padding: 16px 20px;
    
    padding: 16px 20px;
    border-radius: 50px;
background-color: rgba(0, 0, 0, 0.50);

transition: all .4s ease-in-out;
&:hover{
    color: #000;
    border-radius: 50px;
background-color: #FFF;

}
}
.hero__item_link {
    white-space: nowrap ;
    color: #FFF;
text-align: center;
font-size: 16px;
font-weight: 400;
line-height: 20px; /* 125% */

&:hover{
    color: #000;
}
}
.hero__content {
    max-width: 624px;
    margin: 0 auto;
}
.hero__title {
    margin-top: 45px;
    max-width: 441px;
    margin-right: auto;
    margin-left: auto;
    color: #FFF;
text-align: center;
font-size: 32px;
font-weight: 700;
line-height: 40px; /* 125% */
}
.hero__text {
    margin-top: 16px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px; /* 175% */
}
.hero__input{
    margin-top: 41px;
    width: 100%;
    padding: 20px ;
    border-radius: 50px;
background: #F3F3F4;
border: 1px solid transparent;
outline: 1px solid transparent;
&:hover{
    
border: 1px solid blue;
outline: 1px solid  blue;
}

}
.hero__input[placeholder]{
   
        color: #9E9EA7;
    font-size: 14px;
    font-weight: 400;
    &::before{
            content: " ";
            width:  30px;
            height:  30px;
            display: block;
            background-image:url( ../../img/search.svg);
            background-position:center;
            background-repeat:no-repeat;
            background-size: contain;
            
    }
}

.hero__content_list {
    max-width: 750px;
    margin: 0 auto;
    // gap: 20px;
    margin-top: 51px;
         display: flex;
        justify-content: space-between;
        align-items: center;
}
.hero__content_title{
    color: #FFF;
font-size: 12px;
font-weight: 400;
line-height: 16px; /* 133.333% */

}
.hero__content_item {
    color: #FFF;
text-align: center;
font-family: Helvetica Neue;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 20px; /* 142.857% */
padding: 16px 20px;
border-radius: 50px;
border: 1px solid rgba(255, 255, 255, 0.60);
}
.hero__content_link {
    padding-bottom: 84px;
    color: #FFF;
text-align: center;
font-size: 12px;
font-weight: 400;
line-height: 16px; /* 133.333% */
}

.hero__bottom_link{
    margin-top: 30px;
    padding-bottom: 23px;
    text-align: end;
         display: block;
color:#FFF;
}

@media screen and (max-width:1132px) {

    .hero__list{
        overflow-y: hidden;
        overflow-x: scroll;
        gap: 10px;
        

    }
    .hero__item {
        // padding: 16px 20px;
        
        padding: 16px 20px;
        border-radius: 50px;
    background-color: rgba(0, 0, 0, 0.50);
    }
    .hero__item_link{
        font-size: 12px;
        // padding: 8px 12px;

    }
.hero__content_list{

    overflow-y: hidden;
    overflow-x: scroll;
    gap: 10px;
}
    .hero__content_item {
        padding: 16px 20px;
        border-radius: 50px;
    }
    .hero__content_link { 
        padding: 0; 
              font-size: 12px;
              white-space: nowrap ;

    }
}
@media screen and (max-width:580px) {
    .hero__title{
        font-size: 24px;
    }
    .hero__text{
        font-size: 14px;
    }
    .hero__input{
        padding: 14px;
    }
}

@media screen and (max-width:400px) {
    .hero{
        padding: 15px;
    }
    .hero__text{
        font-size: 14px;
    }
    .hero__input{
        padding: 14px;
    }
}